.site{
	display:grid;
	grid-template-columns: 1fr 550px 1fr;
	grid-template-rows: 200px 1fr 1fr;
	justify-items:center;
	
	grid-template-areas:
		". header ."
		". content ."
		". content .";

}

header{
	//grid-column:1/4;
	//grid-row:1/2;
}

main{
	//grid-row:3/5;
}

@media screen and (max-width: 600px){
	.site{
		grid-template-columns:1fr;

		grid-template-areas:
			"header"
			"content"
			"content";
	}
}